body {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
  font-size: 16px;
}

.content {
  display: flex;
  margin: 1em 0 2em;
  width: 100%;
  max-width: 800px;
}

.wrapper {
  padding: 4px;
  width: 50%;
  border: 1px #e0e0e0 solid;
  overflow: auto;
}

.highlighted {
  width: 50%;
  margin: 0;
  padding: 4px;
  border: 1px #e0e0e0 solid;
  overflow: auto;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease;
  font-family: inherit;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-break: keep-all;,
}

.description {
  margin: 3em 0 0;
  width: 800px;
  line-height: 1.5;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 750px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .description {
    display: none;
  }

  .wrapper {
    width: 100%;
  }

  .highlighted {
    width: 100%;
    margin-top: 1em;
  }
}
