.mdhl-heading {
  font-weight: bold;
}

.mdhl-bullet {
  color: #f44336;
}

.mdhl-link {
  color: #1976d2;
}

.mdhl-fences,
.mdhl-blockCode,
.mdhl-inlineCode,
.mdhl-blockquote,
.mdhl-html {
  color: #455a64;
}
