.mdhl-heading {
  font-weight: bold;
}

.mdhl-bullet {
  color: #f44336;
}

.mdhl-link {
  color: #1976d2;
}

.mdhl-inlineCode {
  color: #f44336;
}

.mdhl-codeInFences,
.mdhl-blockCode,
.mdhl-blockquote,
.mdhl-html {
  color: #6a737d;
}
